html {
    display: block
}

body {
    background-color: #495057;
    color: #fff
}

.text-container {
    padding-left: 5%;
    padding-top: 2%;
}

.icons-container {

}

i {
    color: #B3D1B6;
    padding-right: 1%;
}

h1 {
    font-family: brandon-grotesque, sans-serif;
}

p {
    font-family: tablet-gothic, sans-serif;
}

a {
    color: #B3D1B6;
}